<% include ../partials/header %>

<div class="ui container grid" id="main-grid">
    <div class="ten wide column" id="leftPanel">
        <div id="context">
            <div class="ui stackable grid" id="profileCardGrid">
                <div class="ui middle aligned one wide column">
                    <i class="left angle icon circular inverted yellow"></i>
                </div>
                <div class=" fourteen wide column">
                    <div class="ui three special cards">
                        <% for (var i = 0; i < 3; ++i){ %>
                        <div class="ui special card">
                            <div class="content">
                                <div class="right floated meta">Class of <%=selectedProfileData[i].year%></div>
                                <img src="<%=selectedProfileData[i].picture%>" class="ui avatar image">
                            </div>
                            <div class="image">
                                <img src="<%=selectedProfileData[i].picture%>" style="height: 180px !important;">
                            </div>
                            <div class="content">
                                <div class="ui small header"><%=selectedProfileData[i].name%></div>
                                <a href="/profiles/<%=selectedProfileData[i].ID%>">View Profile</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="ui middle aligned one wide column">
                    <i class="right angle icon circular inverted yellow"></i>
                </div>
            </div>
            <div class="ui padded segment">
                <div class="ui stackable padded grid margin-0">
                    <div class="row">
                        <div class="ui middle aligned four wide column">
                            <img class="ui circular small image" src="/images/profilePicture.png" alt="profilePicture">
                        </div>
                        <div class="nine wide column">
                            <div class="ui form">
                                <div class="field">
                                    <div class="ui corner labeled icon input">
                                        <div class="ui  corner label">
                                            <i class="brain red icon"></i>
                                        </div>
                                        <textarea style="background:#eff2f5"
                                            placeholder="What's on your mind ... ?"></textarea>
                                    </div>
                                    <!-- <textarea type="text" rows="8" style="border: none; background:#eff2f5;"
                                        placeholder="What's on your mind ... ?"></textarea> -->
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="ui vertical buttons">
                                <button class="ui red button">
                                    <i class="icon angry"></i>
                                    Angry
                                </button>
                                <button class="ui orange button">
                                    <i class="icon angry"></i>
                                    Tired
                                </button>
                                <button class="ui yellow button">
                                    <i class="icon meh"></i>
                                    Alright
                                </button>
                                <button class="ui green button">
                                    <i class="icon smile beam"></i>
                                    Angry
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div>
                <% profileData.forEach(function(profile){%>
                <div class="ui segment">
                    <div class="ui feed">
                        <div class="event">
                            <div class="label">
                                <img src="<%=profile.picture%>">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a><%=profile.name%></a> shares his/her favorite quote
                                    <div class="date">
                                        3 days ago
                                    </div>
                                </div>
                                <div class="extra text">
                                    <%=profile.quote%>
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 5 Likes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="three wide column" id="rightPanel">
        <div class="ui rail">
            <div class="ui sticky">
                <div class="ui basic segments">
                    <div class="ui inverted segment">
                        <h4 class="ui header">Some of your friends</h4>
                    </div>
                    <% for (var i = 0; i < 2; ++i){ %>
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny circular image">
                                    <img src="<%=friends[i].picture%>" style="height: 82px;">
                                </div>
                                <div class="content">
                                    <div class="header"> <i class="heart red icon"></i><%=friends[i].name%></div>
                                    <div class="meta">
                                        <span>Class of <%=friends[i].year%></span>
                                    </div>
                                    <div class="description">
                                        <p><%=friends[i].major%>%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="ui inverted segment">
                        <h4 class="ui inverted header">Who to follow?</h4>
                    </div>

                    <% for (var i = 0; i < 3; ++i){ %>
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny circular image">
                                    <img src="<%=whoToFollow[i].picture%>" style="height: 82px;">
                                </div>
                                <div class="content">
                                    <div class="header"><%=whoToFollow[i].name%></div>
                                    <div class="meta">
                                        <span>Class of <%=whoToFollow[i].year%></span>
                                    </div>
                                    <div class="description">
                                        <p><%=whoToFollow[i].major%>%></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui right floated tiny yellow button">
                                            <i class="plus icon"></i>
                                            Follow
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>