<% include ../partials/header %>

<div class="ui container grid" id="main-grid">
    <div class="twelve wide column" id="leftPanel">
        <div id="context">
            <div class="ui stackable grid" id="profileCardGrid">
                <div class="ui middle aligned one wide column">
                    <i class="left angle icon circular inverted yellow"></i>
                </div>
                <div class=" fourteen wide column">
                    <div class="ui three special cards">
                        <% for (var i = 0; i < 3; ++i){ %>
                        <div class="ui special card">
                            <div class="content">
                                <div class="right floated meta">Class of <%=selectedProfileData[i].year%></div>
                                <img src="<%=selectedProfileData[i].picture%>" class="ui avatar image">
                            </div>
                            <div class="image">
                                <img src="<%=selectedProfileData[i].picture%>" style="height: 180px !important;">
                            </div>
                            <div class="content">
                                <div class="ui small header"><%=selectedProfileData[i].name%></div>
                                <a href="/profiles/<%=selectedProfileData[i].ID%>">View Profile</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="ui middle aligned one wide column">
                    <i class="right angle icon circular inverted yellow"></i>
                </div>
            </div>
            <div class="ui padded segment ">
                    <img src="/images/profilePicture.png" class="ui bordered centered  small circular image"
                        >
            

                    <div class="ui fluid  big input" style="margin-top: 3vh;">
                        <input type="text" placeholder="What's on your mind...?" style="background: #eff2f5;">
                    </div>
                    <div class="ui divider"></div>

                    <div class="ui secondary four item big borderless menu">
                        <a class="item">
                            <i class="icon red big angry"></i>
                            Angry
                        </a>
                        <a class="item">
                            <i class="icon orange big angry"></i>
                            Tired
                        </a>
                        <a class="item">
                            <i class="icon yellow big angry"></i>
                            Alright
                        </a>
                        <a class="item">
                            <i class="icon green big angry"></i>
                            Happy
                        </a>
                    
                </div>

            </div>
            <div>
                <% profileData.forEach(function(profile){%>
                <div class="ui segment">
                    <div class="ui feed">
                        <div class="event">
                            <div class="label">
                                <img src="<%=profile.picture%>">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a><%=profile.name%></a> shares his/her favorite quote
                                    <div class="date">
                                        3 days ago
                                    </div>
                                </div>
                                <div class="extra text">
                                    <%=profile.quote%>
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 5 Likes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="three wide column" id="rightPanel">
        <div class="ui rail">
            <div class="ui sticky">
                <div class="ui basic segments">
                    <div class="ui inverted segment">
                        <h4 class="ui header">Some of your friends</h4>
                    </div>
                    <% for (var i = 0; i < 2; ++i){ %>
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny circular image">
                                    <img src="<%=friends[i].picture%>" style="height: 82px;">
                                </div>
                                <div class="content">
                                    <div class="header"> <i class="heart red icon"></i><%=friends[i].name%></div>
                                    <div class="meta">
                                        <span>Class of <%=friends[i].year%></span>
                                    </div>
                                    <div class="description">
                                        <p><%=friends[i].major%>%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="ui inverted segment">
                        <h4 class="ui inverted header">Who to follow?</h4>
                    </div>

                    <% for (var i = 0; i < 3; ++i){ %>
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny circular image">
                                    <img src="<%=whoToFollow[i].picture%>" style="height: 82px;">
                                </div>
                                <div class="content">
                                    <div class="header"><%=whoToFollow[i].name%></div>
                                    <div class="meta">
                                        <span>Class of <%=whoToFollow[i].year%></span>
                                    </div>
                                    <div class="description">
                                        <p><%=whoToFollow[i].major%>%></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui right floated tiny yellow button">
                                            <i class="plus icon"></i>
                                            Follow
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>