<% include ../partials/header %>

<div class="" style="margin-top: -1vh;">
    <div class="ui celled centered grid" style="background:#1c1d1e;">
        <div class="row">
            <div class="ui center aligned sixteen wide column">
                <div class="ui circular image" id="profileShow">
                    <img src="<%=data.picture%>">
                </div>
                <h1 class="ui inverted header" style="font-size: 3vh; margin-bottom: 5vh;">
                    <div class="content">
                        <%=data.name %>
                        <div class="sub header">Class of <%=data.year %></div>
                    </div>
                </h1>

                
            </div>
        </div>
        <div class="one column row">
            <div class="ui big inverted yellow  tabular menu centered grid">
                <div class="active item" data-tab="timeline">Timeline</div>
                <div class="item" data-tab="friends">Friends</div>
                <div class="item" data-tab="photos">Photos</div>
            </div>
        </div>
    </div>

    <div class="ui active tab basic segment" data-tab="timeline" style="margin-bottom: 8vh;">
        <div class="ui container centered stackable grid">
            <div class="seven wide column">
                <div>
                    
                        <div class="ui raised segment">
                            <h3 class="ui grey header">Intro</h3>

                            <div class="ui list">
                                <div class="item">
                                    <i class="users yellow icon"></i>
                                    <div class="content">
                                        <%=data.name%>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="marker yellow icon"></i>
                                    <div class="content">
                                        <%=data.home%>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="calendar day yellow icon"></i>
                                    <div class="content">
                                        <%=data.birthday%>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="building yellow icon"></i>
                                    <div class="content">
                                        <%=data.role%>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="phone yellow icon"></i>
                                    <div class="content">
                                        <%=data.phoneType%>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="shoe prints yellow icon"></i>
                                    <div class="content">
                                        <%=data.favoriteShoe%>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="music yellow icon"></i>
                                    <div class="content">
                                        <%=data.favoriteArtist%>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="palette yellow icon"></i>
                                    <div class="content">
                                        <%=data.favoriteColor%>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="ui raised segment">
                            <h3 class="ui grey header">Some Friends</h3>

                            <div class="three column doubling ui grid">
                                <% for(var i=0; i < 3; ++i){ %>
                                <div class="column">
                                    <img class="ui image" src="<%= shuffledProfileData[i].picture%>" style="height: 110px; width: 200px;">
                                    <div class="ui header">
                                        <a  href="<%= shuffledProfileData[i].ID%>" class="content">
                                            <%= shuffledProfileData[i].name%>
                                            <div class="sub header">45 Mutual Friends</div>
                                        </a>
                                    </div>
                                </div>
                                <% } %>
                            </div>

                        </div>
                    
                </div>
            </div>
            <div class="six wide column">
                <div id="context">
                    <div id="context">
                        <div class="ui cards">
                            <% for(var i = 0; i < 10; ++i){ %>
                            <div class="ui fluid card">
                                <div class="content">
                                    <div class="right floated meta">14h</div>
                                    <img class="ui avatar image" src="/images/profilePicture.png"> <%=data.name%>
                                </div>
                                <div class="ui image">
                                    <img src="<%= shuffledProfileData[i].picture%>">
                                </div>
                                <div class="content">
                                    <span class="right floated">
                                        <i class="heart outline like icon"></i>
                                        17 likes
                                    </span>
                                    <i class="comment icon"></i>
                                    3 comments
                                </div>
                                <div class="extra content">
                                    <span class="ui fluid  input">
                                        <input type="text" placeholder="Add comment..." style="background: #eff2f5;">
                                    </span>
                                </div>
                            </div>
                            <%} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui tab" data-tab="friends">
        <div class="ui container centered grid" style="margin-bottom: 8vh;">
           <div class="row">
                <div class="fourteen wide column">
                    <div class="ui padded segment">
                        <h1 class="ui header">Friends</h1>

                        <div class="ui two column stackable grid">
                            <div class="column">
                                <% for(var i=0; i < 15; ++i){ %>
                                    <div class="ui raised segment ">
                                        <div class="ui items">
                                            <div class="item">
                                              <div class="ui small circular image" style="height: 135px;" >
                                                <img src="<%= shuffledProfileData[i].picture%>">
                                              </div>
                                              <div class="middle aligned content">
                                                <a href="<%= shuffledProfileData[i].ID%>" class="ui small header">
                                                    <%= shuffledProfileData[i].name%>
                                                </a>
                                                <div class="description">
                                                  <p>48 Mutual Friends</p>
                                                </div>
                                                <div class="extra">
                                                  <div class="ui black right floated button">
                                                    Friend
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="column">
                                <% for(var i=16; i < 31; ++i){ %>
                                    <div class="ui raisded segment ">
                                        <div class="ui items">
                                            <div class="item">
                                              <div class="ui small circular image" style="height: 135px;" >
                                                <img src="<%= shuffledProfileData[i].picture%>">
                                              </div>
                                              <div class="middle aligned content">
                                                <a class="ui small header" href="<%= shuffledProfileData[i].ID%>" >
                                                    <%= shuffledProfileData[i].name%>
                                                </a>
                                                <div class="description">
                                                  <p>48 Mutual Friends</p>
                                                </div>
                                                <div class="extra">
                                                  <div class="ui black right floated button">
                                                    Friend
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>

    <div class="ui tab" data-tab="photos">
        <div class="ui container padded raised padded segment" style="margin-bottom: 8vh;">
            <h1 class="ui header">Photos</h1>
            <div class=" four column doubling ui stackable centered grid">
                <% for(var i=0; i < 30; ++i){ %>
                <div class="column">
                    <img class="ui image" src="<%= shuffledProfileData[i].picture%>" style="height: 300px; width: 300px;">
                </div>
                <% } %>
            </div>
    
        </div>
    </div>
</div>

<% include ../partials/footer %>